In [9]:
import numpy as np

In [10]:
import pandas as pd

In [1]:
a="swamy"
a

'swamy'

In [2]:
b=4.5

In [3]:
b

4.5

In [4]:
b=8

In [5]:
b

8

In [6]:
str(b)

'8'

In [7]:
str(8)

'8'

In [12]:
a=5+5J

In [13]:
a.real

5.0

In [14]:
a.imag

5.0

In [1]:
# accessiong the elements
a="Ajays"

In [2]:
a[-1]

's'

In [3]:
# Another type of data connector
list_cont=[1,2,34,5,6,True,"Hello"]
list_cont

[1, 2, 34, 5, 6, True, 'Hello']

In [4]:
list[1]

list[1]

In [5]:
list_cont[3]

5

In [6]:
type(list_cont)

list

In [7]:
# list means mutability
list_my=[1,2,34,"sam",8+9j,"love"]

In [8]:
list_my[0]="swamy"

In [9]:
list_my

['swamy', 2, 34, 'sam', (8+9j), 'love']

In [10]:
b="swamy"

In [11]:
b[1]

'w'

In [12]:
b[1]="m"

TypeError: 'str' object does not support item assignment

In [13]:
100-23

77

In [14]:
29/3

9.666666666666666

In [15]:
29%3

2

In [1]:
a=["swamy",1,55,88,"monez",91,"muthu",5+6j,"mone"]
a

['swamy', 1, 55, 88, 'monez', 91, 'muthu', (5+6j), 'mone']

In [3]:
a.append("organe")

In [4]:
a

['swamy', 1, 55, 88, 'monez', 91, 'muthu', (5+6j), 'mone', 'organe']

In [11]:
a.remove("organe")

In [12]:
a

['swamy', 1, 55, 88, 'monez', 91, 'muthu', (5+6j), 'mone']

In [13]:
# 2d list
am=[[1,2,3],[3,4,6],[8,9,6],[45,66,77]]
am[0][2]

3

In [14]:
for my in am:
    print(my,end="")

[1, 2, 3][3, 4, 6][8, 9, 6][45, 66, 77]

# Tuples

In [15]:
#Tuples are immutable data

In [16]:
am=(1,2,3,"ajay")

In [18]:
box1 = ("apple","mango")
box2= ("orange","chikko")
mnt=(box1,box2)

In [19]:
type(mnt)

tuple

In [20]:
s={"red","green","blue","yellow"}
s

{'blue', 'green', 'red', 'yellow'}

# SETS

In [22]:
Ma={1,2,3,4,5,5,5,5,5,5,57,6,6,7,7,7,7,7,7,7,7,7,7,7}
Ma

{1, 2, 3, 4, 5, 6, 7, 57}

In [24]:
Ma.remove(57)

In [26]:
Ma

{1, 2, 3, 4, 5, 6, 7}

# Strings

# \n represents  the new line in the string (automatically)

In [1]:
""""I'm swamyh nadar
I worked very hard in my college
my responsiblity where bigger but still smiler
"""

'"I\'m swamyh nadar\nI worked very hard in my college\nmy responsiblity where bigger but still smiler\n'

# Using the slicing functions

In [1]:
strings1="I am the good listners"
strings1[0:]

'I am the good listners'

In [2]:
strings1[0:7]

'I am th'

In [3]:
Manish="Swamy,love,age,gender"

In [4]:
Manish.replace("love","Main")

'Swamy,Main,age,gender'

In [6]:
Manish[0]

'S'

In [8]:
sentence="Swamy student "
searchword="Swamy"
if searchword in sentence:
    print("The search word is present ")
else:
    print("not present")

The search word is present

In [10]:
email = "anyworld@gmail.com"

if "@" in email:
    print("The email is right")
else:
    print("The email is incorrect")

The email is incorrect