# 1. Creating the Employees Table

In [ ]:
CREATE TABLE employees (
    emp_id INTEGER NOT NULL PRIMARY KEY,
    emp_name TEXT NOT NULL,
    age INTEGER CHECK (age >= 18),
    email TEXT UNIQUE,
    salary DECIMAL DEFAULT 30000
);

# 2. Purpose of Constraints and Data Integrity

Constraints enforce rules on data columns to maintain accuracy and reliability in a database. They prevent invalid data entry and help preserve relationships between tables.

Common Constraint Types:
NOT NULL - Ensures a column cannot have NULL values

UNIQUE - Guarantees all values in a column are different

PRIMARY KEY - Uniquely identifies each record (NOT NULL + UNIQUE)

FOREIGN KEY - Maintains referential integrity between tables

CHECK - Validates that values meet specific conditions

DEFAULT - Sets a default value when none is specified

Example: A CHECK constraint on age (age >= 18) prevents hiring underage employees.

# 3.NOT NULL Constraint and Primary Keys

NOT NULL ensures a column must always contain a value, preventing missing data. This is essential for critical fields like employee IDs or names.

Primary keys cannot contain NULL values because:

They must uniquely identify each record

NULL represents unknown/undefined data which violates uniqueness

Database engines enforce this automatically (PRIMARY KEY implies NOT NULL)

# 4. Adding/Removing Constraints

In [ ]:
ALTER TABLE products
ADD CONSTRAINT pk_product PRIMARY KEY (product_id);

ALTER TABLE products
ALTER COLUMN price SET DEFAULT 50.00;

In [ ]:
# removing constraints
ALTER TABLE products
DROP CONSTRAINT pk_product;

ALTER TABLE products
ALTER COLUMN price DROP DEFAULT;

# 5. Constraint Violation Consequences

Attempting to violate constraints results in errors that abort the operation:

Example Violations:

Inserting NULL into a NOT NULL column

Duplicating a PRIMARY KEY value

Violating a CHECK constraint

Example Error:

ERROR: duplicate key value violates unique constraint "employees_email_key"

DETAIL: Key (email)=(john@example.com) already exists.

# 6. Adding Constraints to Products Table

In [ ]:
-- Add primary key constraint
ALTER TABLE products
ADD CONSTRAINT pk_product PRIMARY KEY (product_id);

-- Add default value for price
ALTER TABLE products
ALTER COLUMN price SET DEFAULT 50.00;

# 7. You have two tables

In [ ]:
SELECT 
    s.student_name,
    c.class_name
FROM 
    student_class s
INNER JOIN 
    classes c ON s.class_id = c.class_id;

# 8. You have three tables

In [ ]:
SELECT 
    o.order_id,
    c.customer_name,
    p.product_name
FROM 
    products p
LEFT JOIN 
    order_details od ON p.product_id = od.product_id
LEFT JOIN 
    orders o ON od.order_id = o.order_id
LEFT JOIN 
    customers c ON o.customer_id = c.customer_id;

# 9 Given the following tables:

SELECT 
    p.product_id,
    p.product_name,
    SUM(s.amount) AS total_sales_amount
FROM 
    products p
INNER JOIN 
    sales s ON p.product_id = s.product_id
GROUP BY 
    p.product_id, p.product_name
ORDER BY 
    total_sales_amount DESC;

# 11. Write a query to display the order_id, customer_name, and the quantity of products ordered by each customer using an INNER JOIN between all three tables.

In [ ]:
SELECT 
    o.order_id,
    c.customer_name,
    SUM(od.quantity) AS total_products_ordered
FROM 
    orders o
INNER JOIN 
    customers c ON o.customer_id = c.customer_id
INNER JOIN 
    order_details od ON o.order_id = od.order_id
GROUP BY 
    o.order_id, c.customer_name
ORDER BY 
    o.order_id;